<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CSE Motors</title>
  <link rel="stylesheet" href="/css/styles.css" media="screen" />
</head>
<body>
  <header class="site-header">
    <nav class="navbar">
      <h1 class="logo">CSE Motors</h1>
    </nav>
  </header>
