<link rel="icon" type="image/png" href="/images/site/favicon-32x32.png">
<h2>Welcome to CSE Motors!</h2>

<div class="hero">
    <img id="hero-image" src="/images/vehicles/delorean.jpg" alt="">
    <div class="call-to-action">
        <h3>DMC Delorean</h3>
        <p>3 Cup holders<br>Superman doors<br>Fuzzy dice!</p>
        <a class="call-link" href="">Own Today</a>
    </div>
</div>
<div class="info-wrapper">
    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li class="delorean-review">"So fast it's almost like traveling in time." (4/5)</li>
            <li class="delorean-review">"Coolest ride on the road." (4/5)</li>
            <li class="delorean-review">"I'm feeling McFly!" (5/5)</li>
            <li class="delorean-review">"The most futuristic ride of our day." (4.5/5)</li>
            <li class="delorean-review">"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
    <div class="upgrades-wrapper">
        <h2>Delorean Upgrades</h2>
        <div class="upgrades">
            <figure>
                <div class="upgrade-background">
                    <img src="/images/upgrades/flux-cap.png" alt="">
                </div>
                <figcaption><a href="">Flux Capacitor</a></figcaption>
            </figure>
            <figure>
                <div class="upgrade-background">
                    <img src="/images/upgrades/flame.jpg" alt="">
                </div>
                <figcaption><a href="">Flame Decals</a></figcaption>
            </figure>
            <figure>
                <div class="upgrade-background">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="">
                </div>
                <figcaption><a href="">Bumper Stickers</a></figcaption>
            </figure>
            <figure>
                <div class="upgrade-background">
                    <img src="/images/upgrades/hub-cap.jpg" alt="">
                </div>
                <figcaption><a href="">Hub Caps</a></figcaption>
            </figure>
        </div>
    </div>
</div>

